#titrePage {
    margin-top: 50px; 
    margin-bottom: 40px;
 }

#excursionForm {
    width: 80%;
}

#formDiv {
	color: #000;
    border-radius: 30px;
	padding: 40px;
}

#formBtn {
    background-color: #b2708f;
	color: #fff;
	border-radius: 30px;
	padding: 10px 40px;
}

#btn_maj {
    background-color: #b2708f;
    color: #fff;
    border-radius: 30px;
    padding: 10px 40px;
}

#btn_annuler {
    color: #fff;
    border-radius: 30px;
    padding: 10px 40px
}

[data-bs-theme="dark"] .btn-custom {
    background-color: rgb(42.5, 47.5, 52.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
}

[data-bs-theme="light"] .text-custom {
    color: black;
}

[data-bs-theme="dark"] .text-custom {
    color: white;
}

[data-bs-theme="light"] .btn-custom {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: black;
}

li {
    list-style-type: none;
}

.remove-visit-style {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
} 