# Packages
/vendor
/node_modules

# Configuration personnelle
/config/config.yaml

# IDE
.vscode/
.idea/
.codiumai
/docs.qodo
/.qodo/

#CSS
/css/bootstrap.css
/css/bootstrap.css.map

# Fichiers lock
package-lock.json
composer.lock