{% extends "base_template.html.twig" %}

{% block title %}
Création d'une Excursion
{% endblock %}


{% block content %}
<main class="container">
    <h1>Informations de l'excursion :</h1>
    <form>
        <label for="nom">Titre :</label>
        <input type="text">
        
    </form>
</main>
{% endblock %}