{% extends "base_template.html.twig" %}

{% block title %}
Erreur
{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1 class="text-center mb-4">Erreur</h1>
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
</main>
{% endblock %}
