{% extends "base_template.html.twig" %}

{% block title %}{{ parent() }} - Page d'accueil{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="./css/page_accueil.css">
{% endblock %}

{% block content %}
<main>
    {% if app.messages_alertes is not empty %}
		{% for message in app.messages_alertes %}
			<div class="alert alert-{{ message.type }} text-center alert-dismissible fade show" role="alert">
				<p>{{ message.message }}</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}

    {# image de paysage d'arrivé sur le site A COMPLETER #}
    <div class="text-center">
        <div id="carouselAccueil" class="carousel slide mb-5" data-bs-ride="carousel" data-interval="2000">
            <div class="carousel-inner vignette">
                <div class="carousel-item active">
                    <img src="./images/accueil/louvres.png" class="img-fluid" alt="1">
                </div>
                <div class="carousel-item">
                    <img src="./images/accueil/carcassonne.jpg" class="img-fluid" alt="2">
                </div>
            </div>
            <div class="carousel-caption position-absolute top-50 start-50 translate-middle text-center">
                <div class="rounded-pill px-5 py-4 bg-body-tertiary">
                    <h1 id="carouselTitre" class="text-white">Découvrir n'a jamais été aussi facile</h1>
                    <button id="carouselBouton" class="btn btn-primary rounded-pill">Réserver maintenant</button>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccueil" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAccueil" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

            <button id="scrollDownButton" class="btn btn-link position-absolute bottom-0 start-50 translate-middle-x mb-3">
                <i id="scrollDownIcon" data-feather="arrow-down-circle" color="#803D5C" width="128" height="128" stroke-width="1" class="feather-icon"></i>
            </button>

        </div>

    </div>

        {# texte descriptif d'un carnet de voyage  #}
            <div class="container text-center">

                <div class="row align-items-center mb-5">
                    <div class="col">
                        <img src="./images/ChateauLourdes.png" class="img-fluid border border-2 border-primary rounded" alt="Image1">
                    </div>
                    <div class="col-7">
                        <p>
                            Profitez de nos visites gratuites, ouvertes à tous, avec un large choix adapté à tous les goûts.
                            Inscrivez-vous dès maintenant à la visite de vos rêves en consultant les visites disponibles.
                        </p>
                        <a href="index.php?controleur=excursion&methode=lister" class="btn btn-primary" title="Consulter les visites disponibles">
                            <i data-feather="map" class="me-2"></i> Consulter les excursions disponibles
                        </a>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-7">
                        <p>
                            Profitez de nos visites gratuites, ouvertes à tous, avec un large choix adapté à tous les goûts.
                            Inscrivez-vous dès maintenant à la visite de vos rêves en consultant les visites disponibles.
                        </p>
                        {# bouton vers les visites disponibles #}
                        <a href="index.php?controleur=excursion&methode=lister" class="btn btn-primary" title="Consulter les visites disponibles">
                            <i data-feather="map" class="me-2"></i> Consulter les excursions disponibles
                        </a>
                    </div>
                    <div class="col">
                        <img src="./images/ChateauLourdes.png" class="img-fluid border border-2 border-primary rounded" alt="Image1">
                    </div>
                </div>

            </div>
</main>
{% endblock %}

{% block script %}
    <script src="js/pageAccueil.js"></script>
{% endblock %}