{% extends "base_template.html.twig" %}

{% block title %}
Guide Dashboard
{% endblock %}

{% block content %}
<a href="index.php?controleur=excursion&methode=afficherCreer" class="btn btn-success">Créer une nouvelle excursion</a>
<a href="index.php?controleur=guide&methode=afficher&id={{ session.user_id }}" class="btn btn-success">Voir mes infos</a>
{% endblock %}