{% extends "dashboard.html.twig" %}

{# TODO - Pas encore implémenté #}
{% block title %}
    Mon Planning :
{% endblock %}

{% block dashboard_content %}
<div class="container">
<h1>Mon Planning :</h1>
</div>
{% endblock %}