{# //A COMPLETER #}
{% extends 'base_template.html.twig' %}
    {% block title %} {{categorie.nom}} {{constant('WEBSITE_TITRE')}} Les visistes disponibles :{% endblock %}

    {% block content %}
    <main>
    <h1>Les visites disponibles</h1>
    {# utiliser bootsrtap pour creer nos 3 colonnes #}
        <div class="container">
             <div class="row align-items-start">
             {# colonne ou il y a les boutons page suivantes, page precedentes et visites reservés #}
                <div class="col">
                    One of three columns
                </div>
                {# colonne ou il y a les images  #}
                <div class="col">
                    One of three columns
                </div>
                {# colonne ou il y a le nom de la viites et la descripion (autant de ligne qu'il y a de visites dispo) #}
                <div class="col">
                    One of three columns
                </div>
                        